{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
    label: "API Key"|t('sendgrid'),
    id: 'apiKey',
    name: 'apiKey',
    instructions: 'Enter an API key (which you can generate in your <a href="https://app.sendgrid.com/settings/api_keys" target="_blank">SendGrid account</a>).'|t('sendgrid'),
    suggestEnvVars: true,
    suggestions: craft.cp.getEnvSuggestions(),
    value: adapter.apiKey,
    errors: adapter.getErrors('apiKey'),
    required: true,
}) }}

{{ forms.autosuggestField({
    label: "Email category"|t('sendgrid'),
    id: 'emailCategory',
    name: 'emailCategory',
    instructions: 'Associates the category of the email this should be logged as. Categories must be separated by commas (Example: category1,category2).'|t('sendgrid'),
    suggestEnvVars: true,
    suggestions: craft.cp.getEnvSuggestions(),
    value: adapter.emailCategory,
    errors: adapter.getErrors('emailCategory'),
    required: false,
}) }}
